<div class= 'comments-container'>

  <div class= 'new-comment'>
    <%= link_to 'Leave a Note', new_comment_path, remote: true %>
  </div>
  
  <div class= 'comments-list'>
    <% @comments.each do |comment| %>
      <div class= 'comment'>
        <p><%= comment.comment %></p><br>
        <p class= 'signature'>Love,<br>
        <%= comment.user.capitalize %></p>
      </div>
    <% end %>
  </div>

</div>