<div class= 'film-container'>

<div class= 'film-nav'>
    <%= link_to 'home', home_index_url %> |
    <%= link_to 'code', code_index_url %> |
    <%= link_to 'contact', contacts_url %>
</div>

<div class="experience">
          <table border=1>
            <tr>
              <th>Position</th>
              <th>Project</th>
              <th>Type</th>
              <th>Producer</th>
              <th>Director</th>
            </tr>
            <tr>
              <td>Script Supervisor</td>
              <td><i>Souvenirs</i></td>
              <td>Short</td>
              <td>Anthony Ojo</td>
              <td>Anthony Ojo</td>
            </tr>
            <tr>
              <td>Set Carpenter</td>
              <td><i>Robo-Dog 2</i></td>
              <td>Feature</td>
              <td>Mark Boot</td>
              <td>Jason Murphy</td>
            </tr>
            <tr>
              <td>Unit Production Manager</td>
              <td><i>November 30th</i></td>
              <td>Short</td>
              <td>Larry Katz</td>
              <td>Nathan Wind</td>
            </tr>
            <tr>
              <td>Casting Secretary</td>
              <td><i>November 30th</i></td>
              <td>Short</td>
              <td>Larry Katz</td>
              <td>Nathan Wind</td>
            </tr>
            <tr>
              <td>Script Supervisor</td>
              <td>January May <i>Young</i></td>
              <td>Music Video</td>
              <td>Nestor Vera</td>
              <td>Deion McCarter</td>
            </tr>
            <tr>
              <td>Script Supervisor</td>
              <td><i>Table Manners</i></td>
              <td>Short</td>
              <td>Jason Boyette</td>
              <td>Michelle Navarrete</td>
            </tr>
            <tr>
              <td>Casting Secretary</td>
              <td><i>Table Manners</i></td>
              <td>Short</td>
              <td>Jason Boyette</td>
              <td>Michelle Navarrete</td>
            </tr>
            <tr>
              <td>Script Supervisor</td>
              <td>IYAZ <i>Sleeping Along</i></td>
              <td>Music Video</td>
              <td>Mohsen Khaial</td>
              <td>Carl Verna</td>
            </tr>
            <tr>
              <td>Script Supervisor</td>
              <td><i>Amber Eyes</i></td>
              <td>Short</td>
              <td>Steven Astacio</td>
              <td>Angelo Isnardi</td>
            </tr>
            <tr>
              <td>1st Assistant Director</td>
              <td>Full Sail BTS Tour</td>
              <td>Live Production</td>
              <td>Duane More</td>
              <td>Rob Haynes</td>
            </tr>
            <tr>
              <td>Director</td>
              <td><i>The Weekend</i></td>
              <td>Television</td>
              <td>Katelyn Gelhart</td>
              <td>Sierra McLawhorn</td>
            </tr>
            <tr>
              <td>Production Manager</td>
              <td><i>Shazam!</i></td>
              <td>Documentary</td>
              <td>Dean McDermitt</td>
              <td>Heath Neptune</td>
            </tr>
            <tr>
              <td>Script Supervisor/BTS</td>
              <td><i>Hoop Culture</i></td>
              <td>Web Promo Series</td>
              <td>David Daudin</td>
              <td>Christopher Gotera</td>
            </tr>
            <tr>
              <td>Script Supervisor</td>
              <td><i>Waiting</i></td>
              <td>Short</td>
              <td>Sam Duzansky</td>
              <td>Heath Neptune</td>
            </tr>
            <tr>
              <td>Casting Director</td>
              <td><i>Waiting</i></td>
              <td>Short</td>
              <td>Sam Duzansky</td>
              <td>Heath Neptune</td>
            </tr>
            <tr>
              <td>Script Supervisor</td>
              <td>Doritos: <i>Poker Chips</i></td>
              <td>Commercial</td>
              <td>Sam Duzansky</td>
              <td>Pedro Morales</td>
            </tr>
             <tr>
              <td>Videographer</td>
              <td><i>15th World Congress</i></td>
              <td>Live Stream</td>
              <td>Effie Chow</td>
              <td>Effie Chow</td>
            </tr>
          </table>
          
          <p>Currently interning as an Assistant Producer for <i>The Culture Trip</i> 's documentary web series based in the San Francisco Bay Area.</p>
        </div>


        <h2>Skills</h2>
        <div class="skills">
            <p class= 'skillcont'>
              Avid Media Composer<span> | </span>
              Final Cut Pro X<span> | </span>
              Vectorworks<span> | </span>
              Adobe Lightroom<span> | </span>
              Microsoft Office<span> | </span>
              Adobe Reader<span> | </span>
              Vimeo<span> | </span>
              Youtube<span> | </span>
              Basecamp
            </p>
        </div>

        
        <h2>Education</h2>
        <div class="education">
            <p class="edu">Full Sail University - Film B.S., 2015</p>
            <p class="edu" id="edusub">Creative Minds Scholarship recipient</p>
        </div>

    