<div class= 'container'>

  <div class= 'nav'>
    <div class= 'aniBox blue'>
      <%= link_to 'Resume', resume_index_url %>  
    </div>
    <div class= 'aniBox orange'>
      <%= link_to 'Film' %>
    </div>
    <div class= 'aniBox green'>
      <%= link_to 'Code' %>
    </div>
  </div>

  <div class= 'aniBoat'>
    <%= image_tag('boat.png', class: 'boat') %>
  </div>



</div>