<div class= 'pages-container'>

  <div class= 'aniPotato'>
    <%= image_tag('potato.png', class: 'potato') %>  <!-- adjust endpoint to be at 100% of page right -->
    <!-- or ajax on hover -->
  </div>

  <div class= 'header-box'>
  
    <div class= 'header'>
         <%= link_to image_tag('name-banner.png', class: 'name-img animated'), home_index_url %>
    </div>
  
  </div>

</div>