<div class= 'container'>

  <div class= 'aniPotato'>
    <%= image_tag('potato.png', class: 'potato') %>
  </div>

  <div class= 'header-box'>
  
    <div class= 'header'>
      <%= link_to image_tag('name-banner.png', class: 'name-img'), home_index_url %>
    </div>
  
  </div>

</div>