<div class= 'contacts-container'>

    <div class= 'contacts-nav'>
      <%= link_to 'home', home_index_path, class: 'home-link' %>  <!-- fix link -->
    </div>

  <div class= 'contact'>
  <%= image_tag 'harlotcontact.png', class: 'contact-img' %>
  </div>

</div>