<div class= 'contacts-container'>

    <div class= 'contacts-nav'>
      <%= link_to 'home', home_index_path, class: 'home-link' %><br>
      <%= link_to 'leave a note', comments_path, class: 'comments-link' %>
    </div>

  <div class= 'contact'>
  <%= image_tag 'harlotcontact.png', class: 'contact-img' %>
  </div>

</div>