<div class= 'container'>

    <div class= 'home'>
      <%= link_to 'home', home_index_url %>  <!-- fix link -->
    </div>

  <div class= 'contact'>
  <%= image_tag 'harlotcontact.png', class: 'contact-img' %>
  </div>

</div>