        <h2>Skills</h2>
        <div class="skills">
            <p class="skillcat">Film & Photography:</p>
              <p class="skillcont">Final Cut Pro X<span style="letter-spacing: 8px"> |</span> Avid Media Composer<span style="letter-spacing: 8px"> |</span> Vectorworks<span style="letter-spacing: 8px"> |</span> Adobe Lightroom</p>
            <p class="skillcat">Computer Software:</p> 
              <p class="skillcont">Microsoft Office<span style="letter-spacing: 8px"> |</span> Apple Productivity Apps<span style="letter-spacing: 8px"> |</span> Adobe Reader</p>
            <p class="skillcat">Communication Platforms:</p> 
              <p class="skillcont">Basecamp<span style="letter-spacing: 8px"> |</span> Slack</p>
            <p class="skillcat">Programming Languages:</p>
              <p class="skillcont">HTML<span style="letter-spacing: 8px"> |</span> CSS<span style="letter-spacing: 8px"> |</span> Ruby<span style="letter-spacing: 8px"> |</span> JavaScript<span style="letter-spacing: 8px"> |</span> SQL</p>
            <p class="skillcat">Social Media:</p> 
              <p class="skillcont">Twitter<span style="letter-spacing: 8px"> |</span> Facebook<span style="letter-spacing: 8px"> |</span> Instagram<span style="letter-spacing: 8px"> |</span> Snapchat<span style="letter-spacing: 8px"> |</span> Periscope<span style="letter-spacing: 8px"> |</span> Tumblr<span style="letter-spacing: 8px"> |</span> Youtube<span style="letter-spacing: 8px"> |</span> Vimeo</p>
        </div>

        <h2>Education</h2>
        <div class="education">
            <p class="edu">Full Sail University - Film B.S., 2015</p>
            <p class="edu" id="edusub">Creative Minds Scholarship recipient</p>
            <p class="edu"> DEV Bootcamp - Full Stack Development, 2016</p>
        </div>