<div class= 'code-container'>

  <div class= 'code-nav'>
      <%= link_to 'home', home_index_url %> |
      <%= link_to 'code', code_index_url %> |
      <%= link_to 'contact', contacts_url %>
  </div>      

  <div class= 'aniComputer'>
    <%= image_tag 'horse.png', class: 'pony' %>
  </div>

   <!-- INSERT PROJECTS -->

      <h2>Skills</h2>
        <div class="skills">
            <p class= 'skillcont'>
              Ruby<span> | </span>
              Rails<span> | </span>
              Javascript<span> | </span>
              HTML<span> | </span>
              CSS<span> | </span>
              SQL<span> | </span>
              Postgresql<span> | </span>
              Slack
            </p>
        </div>

        <h2>Education</h2>
        <div class="education">
            <p class="edu"> DEV Bootcamp - Full Stack Development, 2016</p>
        </div>

</div>