.code-container {
  width: 70vw;
  margin: auto;
}

.code-nav {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}




.aniComputer {
  background-image: url('/images/macbook.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  max-width: 780px;
  min-height: 200px;
}

.pony {
  width: 22%;

  animation-name: slideExpandUp;
  -webkit-animation-name: slideExpandUp;  

  animation-duration: 1.8s; 
  -webkit-animation-duration: 1.8s;

  animation-timing-function: ease-out;  
  -webkit-animation-timing-function: ease -out;

  visibility: visible !important; 
}

@keyframes slideExpandUp {
  0% { transform: translateY(30%) scaleX(0.5); }
  30% { transform: translateY(-8%) scaleX(0.5); } 
  40%{ transform: translateY(2%) scaleX(0.5); }
  50%{ transform: translateY(0%) scaleX(1.1); }
  60%{ transform: translateY(0%) scaleX(0.9); }
  70% { transform: translateY(0%) scaleX(1.05); }     
  80%{ transform: translateY(0%) scaleX(0.95); }
  90% { transform: translateY(0%) scaleX(1.02); } 
  100%{ transform: translateY(0%) scaleX(1); }
}

@-webkit-keyframes slideExpandUp {
  0% { -webkit-transform: translateY(30%) scaleX(0.5); }
  30% { -webkit-transform: translateY(-8%) scaleX(0.5); } 
  40% { -webkit-transform: translateY(2%) scaleX(0.5); }
  50% { -webkit-transform: translateY(0%) scaleX(1.1); }
  60% { -webkit-transform: translateY(0%) scaleX(0.9); }
  70% { -webkit-transform: translateY(0%) scaleX(1.05); }     
  80%{ -webkit-transform: translateY(0%) scaleX(0.95); }
  90% { -webkit-transform: translateY(0%) scaleX(1.02); } 
  100% { -webkit-transform: translateY(0%) scaleX(1); }
}






.experience {
  padding-bottom: 3%;
}

.code-container h2 {
  font-family: "Lato";
  font-size: 88%;
  font-weight: bold;
}

.code-container p, table, li {
  font-family: "Lato";
  font-size: 86%;
}

.code-container li {
  line-height: 140%;
}

.code-container table {
  font-family: Avenir Next;
  font-weight: lighter;
  border-collapse: collapse;
  width: 100%;
  font-size: 83%;
  margin-bottom: 4%;
}

.code-container table, th, td {
    border: .5px solid gray;
}

.code-container th {
  height: 35px;
  text-align: center;
  font-family: "Lato";
}

.code-container th, td {
  padding: 2px;
}

.code-container td {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  font-size: 95%;
}

.code-container td {
  padding: 6px;
}

.skills {
  padding-bottom: 3%;
  margin-left: 1%;
}

.skillcont {
  word-spacing: 2px;
  padding-left: 5%;
  margin-top: -10px;
  font-size: 85%;
}

.skillcont span {
  letter-spacing: 1em;
}

#edusub {
  padding-left: 3%;
  margin-top: -1%;
  font-size: 90%;
  font-style: italic;
  letter-spacing: 0px;
}

.education {
  padding-bottom: 3%;
  margin-left: 2%;
  letter-spacing: 1px;
}

.code-container footer {
  margin-bottom: 10%;
}

.code-container a { 
  color: #b784a7;
  text-decoration: none; 
}

.code-container a:hover {
  color: maroon;
}

.code-container a:visited {
  color: maroon;
}