.comments-container {
  width: 75%;
  margin: auto;
  margin-top: 5%;
  margin-top: 5%;
}

.new-comment {
  
}

.msg-field {
  height: 20vh;
  width: 50vw;
}

.name-field {
  height: 8vh;
  width: 50vw;
}


.comment {
  width: 50%;
  margin: auto;
  border: solid 1px maroon;
  border-radius: 50%;
  border-style: none dotted none dotted; 
  margin: 1%;
  padding: 8%;
}

.comment .signature {
  text-align: right;
}