.comments-container {
  width: 75%;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 5%;
}

.msg-field {
  height: 20vh;
  width: 50vw;
}

.name-field {
  height: 8vh;
  width: 50vw;
}

.new-comment {
  text-align: center;
}

.new-comment a {
  color: maroon;
  font-weight: bold;
  font-family: ltc-bodoni-175;
  font-size: 2em;
}

.comments-list {
  margin-top: 5%;
  height: 50vh;
  overflow: auto;
}

.comment {
  margin: auto;
  width: 50%;
  border: solid 1px maroon;
  border-radius: 50%;
  border-style: none dotted none dotted; 
  padding: 8%;
}

.comment .signature {
  text-align: right;
}