// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// STYLE VARS:
$font-stack:    'ltc-bodoni-175-it', sans-serif;
$primary-color: #333;




// INDEX

.potato {
  width: 300%;
}

div .aniPotato {
    position: absolute;
    top: 10%;
    left: 0;
    width: 40px;
    height: 40px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.header-box {
  border: solid 2.5px black;
  background-color: #94223d;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 34%;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.header {
  position: relative;
  text-align: center;
  font-family: $font-stack;
  font-size: 4vw;
  text-shadow: 2px 1px 1px silver;

}

.name-img {
  max-width: 80%;
  padding-top: 7%;
}
